#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App{
  margin-top: 10rem;
}

.search-box{
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px 20px;
}

input{
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 10px;
  min-width: 330px;
  font-size: 20px;
}

.suggestions{
  padding-top: 10px;
}