#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.App{
  margin-top: 10rem;
}

.search-box{
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 10px 20px;
}

input{
  border: none;
  outline: none;
  padding: 5px;
  margin-left: 10px;
  min-width: 330px;
  font-size: 20px;
}



ul{
  text-align: left;
  list-style: none;
}

li{
  padding: 7px;
  font-size: 18px;
}

li:hover{
  background-color: #ffa07a;
  cursor: pointer
}

.loader-placeholder{
  height: 55px;
}

.highlight{
  color: #ccc;
}